@media (max-width: 768px) {

    .nav-toggle {
        display: initial;
    }

    body {
        overflow-x: hidden;
    }

    .navbar {
        position: absolute;
        top: 8vh;
        right: 0;

        width: 100vw;
        height: 92vh;

        background-color: #121212;
        box-shadow: 1px 1px 5px #00dec5;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        transition: ease 0.4s;
        transform: translateX(100%);

    }

    .navbar.active {
        transform: translateX(0);
    }


    .about-me {
        margin: 0px 40px 40px 40px;
        padding: 30px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-size: 3.1vh;
    
    }

    .projects-container > 
    .first-projeto video, 
    .second-projeto video, 
    .third-projeto video{
    width: 45vw;

    pointer-events: none;

}

    .my-projects {
        margin: 20px 40px 20px 40px;
        padding: 0px;
        padding-top: 10px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        font-size: 22px;
    }

    .my-projects > h1 {
        margin-bottom: 30px;
    
        text-align: center;
    }

    .first-projeto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
            
    }
    
    .first-projeto > p > a {
        display: inline;
    
        color: #03d1b6;
        font-size: 4vh;
    
    }

    .projeto-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    
    #projetos-images-img {
        width: 6vh;
    
        margin-top: 20px;
        margin-left: 5px;
        
        transition: ease 0.4s;
    }

    .contact {
        margin: 40px 40px 0px 40px;
        padding-bottom: 0px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        font-size: 22px;
    
        position: relative;
    
    }

    .contact > .overlay-text-main {
        position: absolute;
    
        top: -5px;
    
    }

    /* TEXT OVERLAY */

    .overlay-text {
        position: absolute;
        top: -130px;
        z-index: -1;

        font-size: 110px;
        color: #3030305d;

        letter-spacing: 8px;

        text-transform: uppercase;

        display: none;

    }

    .form-main > textarea {
        resize: none;
    
        outline: 0;
    
        padding: 10px;
    
        border: 1px solid #a3a3a3;
    
        background-color: transparent;
        color: #00dec5;
        
    
        font-family: 'Poppins', sans-serif;
        font-weight: 300;

        width: 60%;
        height: 20%;
    }
}

@media (max-width: 425px) {

    .about-me {
        margin: 0px 20px 40px 20px;
        padding: 30px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        font-size: 3vh;

        text-align: center;
    
    }

    .about-me > img {
        display: none;

    }

    .my-skills {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
    
        margin: 0px 20px 0px 20px;
        padding: 0px;
        
    }

    .my-skills > h1 {
        font-size: 6vh;
    
    }
    
    .my-skills-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .my-skills-left {
        width: 45vh;
    
        margin-right: 0px;
    
    }
    
    .my-skills-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    
        text-align: center;
    
        margin-left: 35px;
    }
    
    .my-skills-right > div > img {
        width: 10vw;
    }
    
    .text-second-section > p > strong {
        color: #1ec1b6;
    }
    
    .css, .javascript, .html{
        transition: ease .3s;
    
        opacity: 1;
    
    }
    
    .css:hover,
    .javascript:hover,
    .html:hover {
    
        opacity: 1;
        transform: translateY(-10px);
    
    }

    /* VIDEOS MY-PROJECTS */

    .projects-container > 
    .first-projeto video, 
    .second-projeto video, 
    .third-projeto video{
        width: 50vw;

        pointer-events: none;

}

    .my-projects {
        margin: 0px 0px 40px 0px;
        padding: 0px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        font-size: 22px;
    }

    .my-projects > h1 {
        margin-bottom: 15px;
    
        font-size: 6vh;
    
        text-align: center;
    }

    .first-projeto {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        
        margin: 10px;
    
    }
    
    .first-projeto > p > a {
        display: inline;
    
        color: #03d1b6;
        font-size: 3.3vh;
    
    }

    .first-projeto > p {
        font-size: 3.3vh;

        text-align: center;
    }
    
    .projeto-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    
    #projetos-images-img {
        width: 5vh;
    
        margin-top: 20px;
        margin-left: 5px;
        
        transition: ease 0.4s;
    }
    
    #projetos-images-img:hover {
        transform: translateY(-10px);
    }

    .second-projeto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    
        margin: 10px;
    }
    
    .second-projeto > p > a {
        display: inline;
    
        color: #03d1b6;
        font-size: 3.3vh;
    
    }

    .second-projeto > p {
        font-size: 3.3vh;

        text-align: center;
    }
    
    .second-projeto > a > img {
        transition: ease 0.2s;
    
    }
    
    .second-projeto > a > img:hover{
        transform: scale(1.03, 1.03);
        
        filter: blur(2px);
    
    }

    .third-projeto {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
    
        margin: 10px;
    }
    
    .third-projeto > p > a {
        display: inline;
    
        color: #03d1b6;
        font-size: 3.3vh;
    
    }

    .third-projeto > p {
        font-size: 3.3vh;

        text-align: center;
    }
    
    .third-projeto > a > img {
        transition: ease 0.2s;
    
    }
    
    .third-projeto > a > img:hover{
        transform: scale(1.03, 1.03);
        
        filter: blur(2px);
    
    }

    .contact {
        margin: 40px 40px 0px 40px;
        padding-bottom: 0px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        font-size: 22px;
    
        position: relative;
    
    }

    .contact > .overlay-text-main {
        position: absolute;
    
        top: -5px;

        font-size: 6vh;
    
    }

    /* TEXT OVERLAY */

    .overlay-text {
        position: absolute;
        top: -130px;
        z-index: -1;

        font-size: 110px;
        color: #3030305d;

        letter-spacing: 8px;

        text-transform: uppercase;

        display: none;

    }

    .form-main > textarea {
        resize: none;
    
        outline: 0;
    
        padding: 10px;
    
        border: 1px solid #a3a3a3;
    
        background-color: transparent;
        color: #00dec5;
        
    
        font-family: 'Poppins', sans-serif;
        font-weight: 300;

        width: 60%;
        height: 20%;
    }
}

@media (max-width: 375px) {
    .my-projects > h1 {
        margin-bottom: 15px;
    
        font-size: 5vh;
    
        text-align: center;
    }

    .about-me {
        margin: 0px 10px 40px 10px;
        padding: 10px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        font-size: 3.2vh;

        text-align: center;
    
    }

    .my-skills {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
    
        margin: 0px 20px 0px 20px;
        padding: 0px;
        
    }

    .my-skills > h1 {
        font-size: 6vh;
    
    }
    
    .my-skills-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .my-skills-left {
        width: 35vh;
    
        margin-right: 0px;
    
    }
    
    .my-skills-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    
        text-align: center;
    
        margin-left: 20px;
    }
    
    .my-skills-right > div > img {
        width: 12vh;
    }
    
    .text-second-section > p > strong {
        color: #1ec1b6;
    }
    
    .css, .javascript, .html{
        transition: ease .3s;
    
        opacity: 1;
    
    }
    
    .css:hover,
    .javascript:hover,
    .html:hover {
    
        opacity: 1;
        transform: translateY(-10px);
    
    }



}

@media (max-width: 320px) {

    .about-me {
        margin: 0px 10px 40px 10px;
        padding: 10px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        font-size: 2.9vh;

        text-align: center;
    
    }

    .my-projects > h1 {
        margin-bottom: 0px;
    
        font-size: 5vh;
    
        text-align: center;
    }

    .contact > .overlay-text-main {
        position: absolute;
    
        top: -5px;

        font-size: 5vh;
    
    }

    /* TEXT OVERLAY */

    .overlay-text {
        position: absolute;
        top: -130px;
        z-index: -1;

        font-size: 110px;
        color: #3030305d;

        letter-spacing: 8px;

        text-transform: uppercase;

        display: none;

    }

}