@media (max-width: 885px) {

    .nav-toggle {
        display: initial;
    }

    body {
        overflow-x: hidden;
    }

    .navbar {
        position: absolute;
        top: 8vh;
        right: 0;

        width: 100vw;
        height: 92vh;

        background-color: #121212;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
        transform: translateX(100%);

    }

    .navbar.active {
        transform: translateX(0);
    }


    .about-me {
        margin: 41px 40px 20px 20px;
        padding: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 3.5vh;

    }

    .projects-container > 
    .first-projeto video, 
    .second-projeto video, 
    .third-projeto video{
    width: 45vw;

    pointer-events: none;

}

    .my-projects {
        margin: 20px 40px 20px 40px;
        padding: 0px;
        padding-top: 10px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 22px;
    }

    .my-projects > h1 {
        margin-bottom: 30px;

        text-align: center;
    }

    .first-projeto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;

    }

    .first-projeto > p {
        font-size: 3.5vh;

        text-align: center;

    }

    .first-projeto > p > a {
        display: inline;

        color: #03d1b6;
        font-size: 3.5vh;

    }

    .second-projeto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    
    }

    .second-projeto > p {
        font-size: 3.5vh;

        text-align: center;

    }
    
    .second-projeto > p > a {
        display: inline;
    
        color: #03d1b6;
        font-size: 3.5vh;
    
    }

    .third-projeto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    
    }

    .third-projeto > p {
        font-size: 3.5vh;

        text-align: center;

    }
    
    .third-projeto > p > a {
        display: inline;
    
        color: #03d1b6;
        font-size: 3.5;
    
    }
    

    .projeto-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    #projetos-images-img {
        width: 6vh;

        margin-top: 20px;
        margin-left: 5px;

        transition: ease 0.4s;
    }

    .contact {
        margin: 40px 40px 0px 40px;
        padding-bottom: 0px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 22px;

        position: relative;

    }

    .contact > .overlay-text-main {
        position: absolute;

        top: -5px;

    }

    /* TEXT OVERLAY */

    .overlay-text {
        position: absolute;
        top: -130px;
        z-index: -1;

        font-size: 110px;
        color: #3030305d;

        letter-spacing: 8px;

        text-transform: uppercase;

        display: none;

    }

    .form-main > textarea {
        resize: none;

        outline: 0;

        padding: 10px;

        border: 1px solid #a3a3a3;

        background-color: transparent;
        color: #00dec5;


        font-family: 'Poppins', sans-serif;
        font-weight: 300;

        width: 60%;
        height: 20%;
    }
}
