@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    background: #121212;

    color: white;
    font-family: 'Poppins', sans-serif;

    height: 100vh;
    
    display: flex;
    flex-direction: column;

}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 15px;

    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.61);
}

.main-h1 {
    color: #00dec5;

    cursor:pointer;
}

.main-h1:hover {
    color: #16b6a3;
    transition: 0.6s;

}

.navbar {
    display: flex;
    gap: 30px;

}

.navbar > a {
    text-decoration: none;
    font-size: 18px;

    color: white;
}

.navbar > a:hover {
    color: #0ed4bd;

    border-bottom: 2px solid #00E2C5;
    transition: ease-in 0.1s;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 90px;

    padding: 0px;

    transition: ease 0.6s;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    word-spacing: 5px;

    padding: 13px;
    
    text-align: center;
    
}

.about-me > h1 {
    margin: 0px 60px 0px 35px;

    text-align: center;
}

.about-me > h1 > strong{
    color: #03d1b6;
}

.about-me-img {
    width: 35vw;

    margin-right: 80px;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.socials > a > img{
    width: 4vw;

}