@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    background: #121212;

    color: white;
    font-family: 'Poppins', sans-serif;

    height: 100vh;
    
    display: flex;
    flex-direction: column;

}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding: 15px;
    width: 100%;

    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.61);

    position: fixed;
}

.main-h1 {
    color: #00dec5;

    font-size: 18px;
    cursor:pointer;

}

.g {
    text-decoration: underline;
}

.main-h1:hover {
    color: #0a8173;

    transition: ease 0.4s;
}

.navbar {
    display: flex;
    gap: 30px;

}

.navbar > a {
    text-decoration: none;
    font-size: 18px;

    color: white;
}

.navbar > a:hover {
    color: #0ed4bd;

    border-bottom: 2px solid #00E2C5;
    transition: ease-in 0.1s;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;

    padding: 0px;

}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    word-spacing: 5px;

    padding: 13px;
    padding-top: 70px;
    
    text-align: center;

    transition: ease 0.4s;
    
}

.about-me > h1 {
    margin: 0px 0px 0px 25px;

    text-align: center;
}

.about-me > h1 > strong{
    color: #03d1b6;
}

.about-me-img {
    width: 35vw;

    transition: ease 1.2s;

}

.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.socials > a > img{
    width: 4vw;

}

.second-section {
    margin: 0px 80px 80px 80px;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.second-section > img {
    width: 35vw;

}

.text-second-section {
    font-size: 22px;

}

.text-second-section > p > strong {
    color: #1ec1b6;
}

/* SCROLL BAR */

/* width */
    ::-webkit-scrollbar {
    width: 8px;
}

  /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
    border-radius: 0px;
}

  /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #1ec1b6; 
    border-radius: 50px;
}

  /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #105a55; 
}